.header-component {
    height: 70px;
    width: 100%;
    background: #333430;
    //float: right;
    display: block;
    z-index: 9999;
}

.jplogo{
    height: 100%;
}
.header-content{
    height: 100%;
    padding: 1rem;
    padding-right: 2.5rem;
    z-index: 9999; 
}

table{
    height: 100%;
}
td{
    height: 100%;
}

.btn_logout{
    color: white !important;
}

a{
    font-family: 'IM FELL Double Pica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}
